<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>注册</title>
    <!-- logo -->
    <link href="/img/favicon.ico" rel="SHORTCUT ICON">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <link rel="stylesheet" href="css/yumie.css" th:href="@{/css/yumie.css}"/>
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/126839/144/5c4ef81df629d907bc89fc6e.css' rel='stylesheet'
          type='text/css'/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" th:src="@{/js/xuexijiaoliu.js}"></script>
    <script type="text/javascript" th:src="@{/js/yumietv.js}"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    <script type="text/javascript" src="js/biu.js" th:src="@{/js/biu.js}"></script>
    <script th:src="@{/js/myvalidate.js}"></script>
    <script th:inline="javascript">
        var errorMes = [[${errorMessage}]];
        if (errorMes != null && errorMes != "") {
            alert(errorMes);
        }
    </script>
</head>
<body>
<!--top-->
<div th:replace="commons/bar::topbar"></div>
<div class="title-line">
    <span class="css1739a27b891ef77" style="font-size: 50px;">注册</span>
</div>
<div class="aboutUser">
    <form id="registerForm" th:action="@{/user/register}" method="post">
        <div class="form-group">
            <input name="username" placeholder="昵称">
        </div>
        <!--<span class="error" th:text="${#strings.isEmpty(errorMessage)} ? '':${errorMessage}"></span>-->
        <div class="form-group">
            <input type="password" name="password" placeholder="密码 (6-16个字符组成,区分大小写)">
        </div>
        <div class="form-group">
            <input type="text" name="email" placeholder="填写常用邮箱">
        </div>
        <div class="form-group">
            <div style="width: 330px; position: absolute;">
                <input type="text" style="width: 100%;" name="code"
                       placeholder="请输入邮件验证码"/>
            </div>
            <div style="margin-left: 330px;">
                <input id="getCode" style="width: 90px; background-color: #25c6ff; color: white;"
                       type="button" value="点击获取"/>
            </div>
        </div>
        <div class="form-group">
            <input id="subForm" style="background-color: #25c6ff; color: white;" type="button" value="注册"/>
        </div>
        <p style="margin-left: 580px; margin-top: 5px;">
            <a style="font-size: 12px;" href="/login">已有账号，直接登录&gt;</a>
        </p>
</div>
</form>

</div>
<!-- end -->
<div th:replace="commons/bar::#xia-div"></div>
</body>
</html>